* {
    margin: 0;
    padding: 0;
}

#pestanal ul {
    padding: 3px 0 3px 20px;
    border-bottom: 1px solid #000;
}

#pestanal ul li {
    display: inline;
    list-style: none;
}

#pestanal ul li a {
    font-weight: bold;
    padding: 3px 0.5em;
    margin-right: 5px;
    border: 1px solid #900;
    border-bottom: none;
    background-color: #F0E0C0;
    color: #900;
    text-decoration: none;
}

#pestanal ul li a:hover {
    background-color: #B0A080;
    color: #fff;
    border-color: #000;
}

#pestanal ul li a.aktiv,
#pestanal ul li a.aktiv:hover {
    background-color: #fff;
    color: #777;
    border: 1px solid #000;
    border-bottom: 1px solid #fff;
    cursor: default;
}

p h1 {
    font-size: 24px;
}