p {
    font-family: cursive;
}

h1 {
    background-color: chocolate;
    font-size: 40px;
    color: aqua; 
}

body {
    background-color: aqua;
}
/* Esto es un comentario */

.miestilo {
    font-size: 40px;
}